@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
  list-style: none;
  box-sizing: border-box;
 -webkit-box-sizing: border-box;
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
}

body{
      text-align: center;
      margin: 0;
      padding: 0;
}
 #font-light{
   color: white;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
    margin: 0 0 .75em;
    font-size: 1.2rem;
    font-weight: 500;
}
p, h1, h2, h3, h6 {
    letter-spacing: .2em;
}

.and, p{
    font-size: 1.2em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 #font-dark{
   color: darkgray;
}
 #nav_font_color{
   color: #333;
}

.capital{
  text-transform: uppercase;
}
.underline{
  display: inline-block;
  width: 60px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #333;
}
a{
  text-decoration: none;
  transition: color .1s linear;
  border-bottom: 1px solid #333;
}
a:link{
    color: black;
    border-bottom: 1px solid #b18f3a;
}
a:visited{
    color: black;
}
.indent{
  letter-spacing: .2em; 
  font-size: 2.5rem;
}

/*first content css */

.first_content{
  background-color: #f9ad81; 
  background-image: url(https://s3.amazonaws.com/ameliaandsteveassets/topo.svg);
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
}
.first_content p{
  font-family: 'Dancing Script', cursive; 
  font-size: 3rem; 
  font-weight: 100;
  padding: 20px 20px;
  color: #4b5b48;
}
.first_content p.byline{
  font-family: 'Lato', sans-serif; 
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.first_content .scroll{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2em;
    max-width: 45em;
}

.and{
  font-family: 'Allura', cursive;
  color: #4b5b48;
  line-height: 1.2;
  margin-bottom: 0;
}

.first-content-box{
    padding-top: 100px;
    margin: 0 auto;
}

.first_content h1{
  color: #4b5b48;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 0;
}
::-webkit-scrollbar{
    display: none;
}

.pane{
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 6rem 1.5em;
}

/*second content css */

.second_content{
      background-color: #FFF;
      text-align: center;
      font-family: 'Amatic SC', cursive;
}

.pane-content{
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}
.content-title{
    font-size: 4rem; 
    color: #b18f3a;
    text-align: center;
    padding-left: 10px;
}
.second-content-box{
    display: block;
    margin-bottom: 3rem;
    font-size: 1rem;
}
.second-content-box p{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.logo_wrapper{
    color:#CCC;
    
}

.third_content{
    background-color: #FBEAD8; 
    font-family: 'Amatic SC', cursive;
    min-height: 100vh;
    text-align: center;
}
.third-pane-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}
.pane-title{
    margin-bottom: 2em;
    text-align: center;
}
.third_content p{
  font-family: 'Lato', sans-serif; 
  padding-left: 50px;
  padding-right: 50px;
}
.third_content h2{
font-size: 3.5rem;
}

.larger{
     font-weight: 900;
    font-size: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.small{
    font-weight: 900; 
    font-size: 1.2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    margin: 15px auto;
}
.heading{
  grid-column: 1/3;
  height: 100px;
}
.section_wrapper{
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  place-content: center;
}

.section_wrapper:first-child{
    position: relative;
    float: bottom;
    bottom: 0;
}
.inline_div{
  width: 75%;
}
.third_content h3{
font-size: 3.5rem;
}

#eventDetails{
    background: #50b796;
}
.getting_there{
  background-color: #50b796;
  color: white;
  font-family: 'Amatic SC', cursive;
}
.getting_there h3{
  font-size: 3.5em;
  padding-top: 20px;
}

.wedding-party{
    display: block;
    background-color: #fdf8f7;
    font-family: 'Amatic SC', cursive;
}
.wedding-party h3{
  font-size: 3.5rem;
}

.entourage{
    min-height: 50vh;
}
.entourage .img_wrapper{
border-radius: 50%;
width: 250px;
height: 250px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: contain; 
}

.fourth_content{
    width: 100vw;
    background-color: #e4f1e0; 
    font-family: 'Amatic SC', cursive;
    overflow: auto;
}

.fourth_content h3{
  font-size: 3.5rem;
}

figure{
    margin: 15px auto;
    width: 40vw;
    z-index: 1;
}

figure img{
  width: 80vw;
  height: 75vh;
  border-radius: 15px;
  object-fit: contain;
}

.Registry{
  background-color: #f9ded8;
}

.fifth-content{
    min-height: 100vh;
    width: 100vw;
    font-family: 'Amatic SC', cursive;
    background-color: #C4FAf8;
}

.fifth-content h3{
  font-size: 3.5rem;
  padding-top: 20px;
}

.container{
  height: 75vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin: 50px auto auto auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  background: #fFF;
}
.title-container{
  font-size: 1.4rem;
  padding-top: 50px;
}
.title-container > p{
  font-family: 'Lato';
  font-weight: 900;
}
.title-container p:first-child {
  font-size: 2rem;
  text-transform: capitalize;
}

.third_content a{
    text-decoration: none;
}

form{
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: bold;
  margin-left:  auto;
  margin-right: auto;
  }
.input-field{
width: 400px;
height: 30px;
margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #777;
outline: none;
box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
0 2px 4px rgba(0,0,0,0.07), 
0 4px 8px rgba(0,0,0,0.07), 
0 8px 16px rgba(0,0,0,0.07),
0 16px 32px rgba(0,0,0,0.07), 
0 32px 64px rgba(0,0,0,0.07);
}
.textarea-field{
  height: 150px;
  padding-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}


.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.pane-row{
    display: block;
    margin-bottom: 3em;
    font-family: 'Lato';
    color: #000000;
    font-weight: 900;
}
.pane-row h3{
    font-family: 'Amatic SC', cursive;
}

.pane-row p{
    margin: 15px auto;
}
.pane-content p{
    margin: 15px auto;
}

h4.person-name {
    font-size: 1.875rem;
    margin-bottom: .25em;
}

.Registry p{
    font-family: 'Lato';
    font-weight: 900;
}

.entourage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 68rem;
    min-height: 50vh;
    margin: 0 auto;
}
.details {
    background-color: #FFF6D9;
}

.details h2{
     font-family: 'Amatic SC', cursive;
}
.details a{
    border-bottom-color: #b18f3a;
    font-weight: 900;
    letter-spacing: .2em;
    line-height: 1.2;
    margin: 0 0 .75em;
    font-size: 1.2rem;
}
.color-palette{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    padding: 15px 0;
}

.color-palette img{
    max-width: 76vw;
    padding: 6px;
    background-color: #FFFFFF;
}
.faq-section h5{
    font-weight: 900;
    letter-spacing: .2em;
}
.faq-section h5 a:hover {
    background: 0 0;
    cursor: pointer;
    color: #b18f3a;
}
.faq-answer{
    max-height: auto;
}

/*collapsible content */
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

input[type='checkbox']{
    display: none;
}
.lbl-toggle {
    display: block;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    

}
.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}
.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;
    padding: .5rem 1rem;

}
.collapsible-content p {
    margin-bottom: 0;
}

.thanks{
    background-color: #FFFFFF;
}

.thanks h2{
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}

.thanks p{
    font-family: 'Lato';
    font-weight: 900;
}

.thanks a{
    border-bottom-color: #b18f3a;
}

.party-person .sheene{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 100%;
}


@media(min-width: 1024px){
    .who{
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91489%;
        margin-left: 34.04255%;
        font-size: 1rem;
    }
    .when{
        margin-bottom: 0;
        margin-left: 8.51064%;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91489%;
    }
    .where{
        margin-left: 17.02128%;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91489%;
    }
    .who:last-child{
        margin-right: 0;
    }
    .first_content .pane-title{
        display: flex;
        justify-content: center; 
        align-items: flex-end;
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        padding-top: 8rem;
    }
    p.byline{
        font-size: 1.875rem;
    }
    .first_content h1{
        font-size: 8rem;
        letter-spacing: .2em;
    }
    .and{
        font-size: 4em; 
        font-weight: 100; 
        font-family: 'Allura', cursive;
        color: #4b5b48;
        line-height: 1.2;
        margin: 0 .75em;
        margin-left: .2em;
        margin-bottom: 0;
}
.principal-sponsors{
    font-size: 1.2em;
    font-weight: 900;
    font-size: 1.2em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.principal-sponsors{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 68rem;
    min-height: auto;
    margin-bottom: 2rem;
}

.img_wrapper{
    border-radius: 100%;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    margin: 1em 0 1.5em;
    border-radius: 100%;
}
.Registry h2{
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
}

.wedding-party h2{
    font-size: 3.5rem;
}
.wedding-party h6{
    font-size: 2rem;
}
.fifth_content
{
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}
.fourth_content h2{
    font-size: 3.5rem;
}
.fifth-content h2{
    font-size: 3.5rem;
}
.details h2{
    font-size: 3.5rem;
}
.party-person h4, h5{
    font-weight: 900;
}

.party-person{
    max-width: 68rem;
    min-height: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    letter-spacing: .2em;
}

}
@media and (min-width: 768px){

    .and{
          font-size: 4em; 
    }
    .third_content p{
        text-align: center;
        line-height: 1.8;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 82.97872%;
        margin-left: 8.51064%;
    }
        .first_content .pane-title{
        display: flex;
        justify-content: center; 
        align-items: flex-end;
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        padding-top: 8rem;
    }
        .first_content h1{
        font-size: 6rem;
        letter-spacing: .2em;
    }
    .pane-title{
        text-align: center;
}
}

@media (min-width: 768px){
        .first_content .pane-title{
            display: flex;
            justify-content: center; 
            align-items: flex-end;
            padding-bottom: 4rem;
            margin-bottom: 2rem;
            padding-top: 8rem;
    }
    
        .and{
          font-size: 3em; 
    }
    
        .first_content h1{
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 6rem;
        
    }
}


@media (max-width: 667px)
{
    
    p{
        font-weight: 600;
    }
    
    .first_content h1{
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 6rem;
        
    }
    h2{
        margin-bottom: .25em;
        font-size: 3.5rem;
        
    }
    .and{
          font-size: 3em; 
    }
    .second_content{
        display: block;
        box-sizing: border-box;
        position: relative;
        padding: 6rem 1.5rem;
        min-height: 50vh;
        text-align: center;
    }
    .second-content-box p{
        font-size: 1.4rem;
        font-family: 'Lato';
        padding: 10px 0;
        color: black;
        font-weight: 900;
    }
    .second-content-box{
        display: block;
        margin-bottom: 3rem;
    }
    
.pane-content{
    box-sizing: inherit;
    margin-left: auto;
    margin-right: auto;
}
.title-section{
    margin-bottom: 2rem;
}

.when{
    margin-bottom: 3rem;
    text-align: center;
}

.first_content p.byline {
  font-weight: 900;
  font-size: 1.2rem;
}
.first_content .scroll{
  font-weight: 900;
  font-size: 1.2rem;
}
.third_content{
  display: flex;
  flex-direction: column;
   place-content: space-evenly;
}

.third-pane-content{
    display: grid;
    grid-template-columns: 1fr;
}
.third_content  h3{
  font-size: 2.5rem;
}
.third_content p{
    padding: 10px 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    line-height: 1.5em;
    padding-left: .75em;
    padding-right: .75em;
}
.section_wrapper{
  margin-top: 50px;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}
.third_content p:first-child{
    padding-top: 15px;
}

.img_wrapper{
border-radius: 50%;
width: 300px;
height: 300px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: contain;
}
.getting_there h3{
  font-size: 2.5rem;
}

.fourth_content h3{
  font-size: 2.5rem;
}
.fourth_content{
width: 100%;
}

figure img{
  padding: 10px;
}
figure{
width: 80vw;
margin: 15px auto;

}
.container{
  height: 75vh;
  width: 85vw;
  margin: auto;
}
.input-field{
  height: 29px;
  width: 80vw;
}
.textarea-field{
  height: 26vh;
}

.registry h3{
  font-size: 2.5rem;
}
.fifth-content h3{
  font-size: 2.5rem;
}
.wedding-party h3{
    font-size: 2.5rem;
}
.the{
    font-size: 2rem;
}

.wedding-party h5{
    font-family: 'Lato';
    color: black;
    text-align: center;
    font-weight: 900;
    letter-spacing: .2em;
}
.wedding-party h6{
    color: black;
    font-size: 1.8rem;
}
.principal-sponsors{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}
.party-name{
    font-size: 1.1em;
    font-weight: 900;
}

.entourage .img_wrapper{
    margin: 0 auto;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain; 
}

.party-person .sheene{
    width: 130px;
    height: 130px;
}

.secondary-sponsors{
    max-width: 68rem;
    min-height: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.pane-title h3{
    font-family: 'Amatic SC', cursive;
}
.party-person{
    max-width: 68rem;
    min-height: auto;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}
.Registry h2{
    font-family: 'Amatic SC', cursive;
}
.Registry .pane-content{
    padding-top: 20px;
}
}

@media (max-width: 375px)
{
    .party-name{
        font-size: .875em;
        font-weight: 900;
    }
    h1{
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 10px;
        
    }
    .wedding-party h5{
        font-size: .875em;
        font-weight: 900;
    }
    .img_wrapper{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
}
    .details .pane-content{
        padding-top: 20px;
    }

}    
.and{
  font-size: .4em; 
  font-weight: 100; 
  font-family: 'Allura', cursive;
}

.third_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FBEAD8; 
  height: 100vh;
  width: 100vw;
}
.third_content p{
  font-family: 'Lato', sans-serif; 
  padding-left: 50px;
  padding-right: 50px;
}
.heading{
    margin-top: 50px;
  grid-column: 1/3;
  height: 100px;
}
.section_wrapper{
  font-size: 1.2em;
  width: 100%;
  height: 100%;

}
.inline_div{
  width: 75%;
}
.third_content h3{
font-size: 3.5em;
padding-top: 20px;
}

.content{
  height: 100%;
  width: 100%;
}
.img_wrapper{
border-radius: 70%;
width: 350px;
height: 350px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: contain;
}

.getting_there{
  background-color: #50b796;
  color: white;
  height: 100vh;
  width: 100vw;
}
.getting_there h3{
  font-size: 3.5em;
  padding-top: 20px;
}

.fourth_content{
  height: 100vh;
  width: 100vw;
  background-color: #FFF; 
}

.fourth_content h3{
  font-size: 3.5em;
  padding-top: 20px;
}

/*responsive media*/
@media (max-width: 850px)
{
li{
font-size: 1em;
}
}
@media (max-width: 757px)
{
.checkbtn{
  display: block;
  padding-top: 15px;
}
h1{
  font-size: 4.5rem;
  padding-top: 15vh;
  letter-spacing: 10px;
}
li{
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
}
nav{
  margin: 0;
  padding: 0;
  text-align: center;
}

ul{
background: white;
height: 100vh;
width: 100vw;
margin-top: 15px;
padding-top: 30px;
display: none;
}

#check:checked ~ ul {
  display: block;
}

.second_content{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.first_content_div {
  padding-top: 100px;
  font-weight: 900;
}
.third_content{
  display: flex;
  flex-direction: column;
}
.third_content  h3{
  font-size: 2.5em;
}
.third_content p {
  padding-left: 20px;
  padding-right: 20px;
}
.section_wrapper{
  padding-top: 20px;
  font-size: 1.2em;
  align-content: center;
  width: 100%;
  height: 100%;
}

.img_wrapper{
border-radius: 50%;
width: 250px;
height: 250px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: contain;
}
.getting_there h3{
  font-size: 2.5em;
}
.message_wrapper{
  font-weight: 900; 
  font-size: .8em;
}

.fourth_content h3{
  font-size: 2.5em;
}

}
